html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.body {
  font-family: "Quicksand", sans-serif;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  background-size: cover;
  color: rgb(43, 23, 90);
}

.darkMode {
  background: #736f6f;
}