.table {
  font-family: "Poppins", sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #fafaff;
}

.table__caption {
  caption-side: bottom;
  text-align: right;
  margin-top: 5px;
}

.table__cell {
  border: 1px solid #3a1c38;
  padding: 5px 20px;
  text-align: center;
  vertical-align: middle;
}

.table__cell--header {
  color: #3a1c38;
  
  background-color: #bb88dd;
  font-weight: normal;
}

.table__row {
  
  background-color: #f8f9fa;
}

.table__row:nth-child(even) {
  background: #ced4da;
}

.table__row:hover {
  background-color: #b7b1bc;
}

