
.table {
    font-family: "Poppins", sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #fafaff;
    
  }
  
 
  
  .caption {
    caption-side: bottom;
    text-align: right;
    margin-top: 5px;
  }
  
  .tableCell {
    border: 1px solid #3a1c38;
    padding: 5px 20px;
    text-align: center;
    vertical-align: middle;
  }
  
  .tableHeader {
    color: #3a1c38;
    font-weight: normal;
  }
  
  .tableRow {
    background-color: #f8f9fa;
  }
  
  .tableRow:nth-child(even) {
    background: #C4E0F9;
  }
  
  .tableRow:hover {
    background-color: #ced4da; 
  }
  
  .coloured {
    background-color: #67AAF9;
  }
  
  .leftSide {
    text-align: left;
  }